body {
  background-color: #000000
}

p {
  color: white;
}


*{
  margin:0;
  padding:0;
}

.gigaton-logo {
  width: 100% !important;
  height: 100% !important;
}

h1{
  margin: 20px;
  text-align: center;
  color:white;
}

#main-video{
  display: block;
  width: 600px;
  min-height: 315px;
  margin: 0 auto 40px;
  background: #000;
  p{
    color: #fff;
  }
}

#list{
  width: 240*3px;
  margin: 20px auto 0;
  display: flex;
  flex-wrap: nowrap;
}

li{
  display: block;
  width: 27.5%;
  margin-right: 20px;
  list-style-type: none;
  padding:10px;
  background-color: #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
  float: left;
}

img {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 20px;
}

a{
  color: #000;
  text-decoration: none;
}

li:after{
  celer:both;
}

.title{
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
}

iframe{
  border: none;
}

#moveTitle {
  text-align: center;
}